@import '../../theme/palette';

.wrapper {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  >div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .movieEnter{
    opacity: 0.01;

  }
  .movieEnterActive{
    opacity: 1;
    transition: opacity 1000ms ease-out;

  }
  .movieAppear{
    opacity: 0.01;

  }
  .movieAppearActive{
    opacity: 1;
    transition: opacity 1500ms ease-in;

  }
  .movieDelete{
    opacity: 1;

  }
  .movieDeleteActive{
    opacity: 0.01;
    transition: opacity 1500ms ease-in;

  }


  h1 {
    font-size: 50px;
  }

  h1, p {
    margin: auto;
    color: $paletteColor4;
  }
}
