@import '../../../theme/palette';

.book {
    min-width: 100vw;
    min-height: 100vh;
    padding: 100px 300px;
    background-color: $paletteColor31;
    color: $paletteColor29;
    text-align: center;

    h1 {
        margin: 0 0 100px;
        font-size: 35px;
    }

    div {
        font-weight: 700;

        select {
            margin: 0 10px;
        }
    }

    p {
        line-height: 25px;
        text-align: left;
    }

    footer {
        font-size: 20px;
        font-weight: 900;
    }
}
